body{
    width: 100%;
    height: 100%;
}
.topbar-img{
    background: url('../img/quang_caotop-1.png');
    height: 50px;
    width: 100%;
    background-repeat: no-repeat;
    background-color:#AC0A0C;
}